In [1]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.2.tar.gz (317.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.3/317.3 MB 4.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.2-py2.py3-none-any.whl size=317812365 sha256=fbe93b5d9862be5467cae3632f932f7860f746b42b31fd92606ac36655834668
  Stored in directory: /root/.cache/pip/wheels/34/34/bd/03944534c44b677cd5859f248090daa9fb27b3c8f8e5f49574
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.2

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, sum, avg, count

In [5]:
# Initialize SparkSession
spark = SparkSession.builder \
    .appName("Flights Analysis") \
    .getOrCreate()

# Load the flights dataset
flights = spark.read.format("csv") \
.option("header", "true") \
    .option("inferSchema", "true") \
    .load("/content/departuredelays.csv")

In [6]:
# Create a temporary view of the DataFrame
flights.createOrReplaceTempView("flights")

In [7]:
# Perform analysis using Spark SQL
# Example 1: Average delay by origin airport

avg_delay_by_origin = spark.sql("""
    SELECT origin, AVG(delay) as avg_delay
    FROM flights
    GROUP BY origin
    ORDER BY avg_delay DESC
    LIMIT 10
""")

In [9]:
avg_delay_by_origin.show()

+------+------------------+
|origin|         avg_delay|
+------+------------------+
|   GUM| 33.87777777777778|
|   LSE|26.532467532467532|
|   MQT| 23.87012987012987|
|   EGE| 20.57012542759407|
|   ROA|19.885106382978723|
|   MDW|19.657658556043078|
|   BTV|  18.7246192893401|
|   ORD|18.588917606028524|
|   IAD| 18.40343803056027|
|   SCE| 17.91616766467066|
+------+------------------+

In [10]:
# Example 2: Total flights and average delay by day of week

flights_by_day = spark.sql("""
    SELECT
        date,
        COUNT(*) as total_flights,
        AVG(delay) as avg_delay
    FROM flights
    GROUP BY date
    ORDER BY date
    LIMIT 7
""")

In [11]:
flights_by_day.collect()

[Row(date=1010005, total_flights=1, avg_delay=-8.0),
 Row(date=1010010, total_flights=1, avg_delay=-6.0),
 Row(date=1010020, total_flights=2, avg_delay=-1.0),
 Row(date=1010023, total_flights=1, avg_delay=14.0),
 Row(date=1010025, total_flights=2, avg_delay=15.0),
 Row(date=1010029, total_flights=1, avg_delay=49.0),
 Row(date=1010030, total_flights=3, avg_delay=-5.666666666666667)]

In [12]:
flights_by_day.show()

+-------+-------------+------------------+
|   date|total_flights|         avg_delay|
+-------+-------------+------------------+
|1010005|            1|              -8.0|
|1010010|            1|              -6.0|
|1010020|            2|              -1.0|
|1010023|            1|              14.0|
|1010025|            2|              15.0|
|1010029|            1|              49.0|
|1010030|            3|-5.666666666666667|
+-------+-------------+------------------+

In [13]:
# Example 3: Top 5 routes with the highest total delay

top_delayed_routes = spark.sql("""
    SELECT
        origin,
        destination,
        SUM(delay) as total_delay,
        COUNT(*) as flight_count
    FROM flights
    GROUP BY origin, destination
    ORDER BY total_delay DESC
    LIMIT 5
""")

In [14]:
top_delayed_routes.show()

+------+-----------+-----------+------------+
|origin|destination|total_delay|flight_count|
+------+-----------+-----------+------------+
|   LAX|        SFO|      51844|        3198|
|   ORD|        SFO|      41653|        1731|
|   SFO|        LAX|      40798|        3232|
|   LGA|        ATL|      35761|        2500|
|   JFK|        LAX|      35755|        2720|
+------+-----------+-----------+------------+

In [15]:
# Show results
print("Top 10 origins by average delay:")
avg_delay_by_origin.show()

print("\nFlights and average delay by day (first week):")
flights_by_day.show()

print("\nTop 5 routes with highest total delay:")
top_delayed_routes.show()

Top 10 origins by average delay:
+------+------------------+
|origin|         avg_delay|
+------+------------------+
|   GUM| 33.87777777777778|
|   LSE|26.532467532467532|
|   MQT| 23.87012987012987|
|   EGE| 20.57012542759407|
|   ROA|19.885106382978723|
|   MDW|19.657658556043078|
|   BTV|  18.7246192893401|
|   ORD|18.588917606028524|
|   IAD| 18.40343803056027|
|   SCE| 17.91616766467066|
+------+------------------+


Flights and average delay by day (first week):
+-------+-------------+------------------+
|   date|total_flights|         avg_delay|
+-------+-------------+------------------+
|1010005|            1|              -8.0|
|1010010|            1|              -6.0|
|1010020|            2|              -1.0|
|1010023|            1|              14.0|
|1010025|            2|              15.0|
|1010029|            1|              49.0|
|1010030|            3|-5.666666666666667|
+-------+-------------+------------------+


Top 5 routes with highest total delay:
+------+-----------+-----------+------------+
|origin|destination|total_delay|flight_count|
+------+-----------+-----------+------------+
|   LAX|        SFO|      51844|        3198|
|   ORD|        SFO|      41653|        1731|
|   SFO|        LAX|      40798|        3232|
|   LGA|        ATL|      35761|        2500|
|   JFK|        LAX|      35755|        2720|
+------+-----------+-----------+------------+

In [16]:
# Stop the SparkSession
spark.stop()

In [34]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, sum, avg, count, hour, month

In [35]:
# Initialize SparkSession
spark = SparkSession.builder \
    .appName("Extended Flights Analysis") \
    .getOrCreate()

# Load the flights dataset
flights = spark.read.format("csv") \
    .option("header", "true") \
    .option("inferSchema", "true") \
    .load("/content/departuredelays.csv")

In [36]:
# Create a temporary view of the DataFrame
flights.createOrReplaceTempView("flights")

In [37]:
# Example 4: Average delay by origin airport (top 10)
avg_delay_by_origin = spark.sql("""
    SELECT origin, AVG(delay) as avg_delay
    FROM flights
    GROUP BY origin
    ORDER BY avg_delay DESC
    LIMIT 10
""")

In [38]:
# Example 5: Top 5 busiest routes
busiest_routes = spark.sql("""
    SELECT
        origin,
        destination,
        COUNT(*) as flight_count
    FROM flights
    GROUP BY origin, destination
    ORDER BY flight_count DESC
    LIMIT 5
""")

In [39]:
# Example 6: Monthly flight trends

monthly_trends = spark.sql("""
    SELECT
        SUBSTRING(CAST(date AS STRING), 5, 2) as month,
        COUNT(*) as total_flights,
        AVG(delay) as avg_delay
    FROM flights
    GROUP BY SUBSTRING(CAST(date AS STRING), 5, 2)
    ORDER BY month
""")

In [40]:
# Example 7: Percentage of delayed flights by origin
delayed_percentage = spark.sql("""
    SELECT
        origin,
        COUNT(*) as total_flights,
        SUM(CASE WHEN delay > 0 THEN 1 ELSE 0 END) as delayed_flights,
        (SUM(CASE WHEN delay > 0 THEN 1 ELSE 0 END) * 100.0 / COUNT(*)) as delayed_percentage
    FROM flights
    GROUP BY origin
    ORDER BY delayed_percentage DESC
    LIMIT 10
""")

In [41]:
# Example 8: Average delay by hour of day
delay_by_hour = spark.sql("""
    SELECT
        CAST(SUBSTRING(CAST(date AS STRING), 10, 2) AS INT) as hour,
        AVG(delay) as avg_delay
    FROM flights
    GROUP BY SUBSTRING(CAST(date AS STRING), 10, 2)
    ORDER BY hour
""")

In [42]:
# Show results
print("Top 10 origins by average delay:")
avg_delay_by_origin.show()

print("\nTop 5 busiest routes:")
busiest_routes.show()

print("\nMonthly flight trends:")
monthly_trends.show()

print("\nTop 10 origins by percentage of delayed flights:")
delayed_percentage.show()

print("\nAverage delay by hour of day:")
delay_by_hour.show()

Top 10 origins by average delay:
+------+------------------+
|origin|         avg_delay|
+------+------------------+
|   GUM| 33.87777777777778|
|   LSE|26.532467532467532|
|   MQT| 23.87012987012987|
|   EGE| 20.57012542759407|
|   ROA|19.885106382978723|
|   MDW|19.657658556043078|
|   BTV|  18.7246192893401|
|   ORD|18.588917606028524|
|   IAD| 18.40343803056027|
|   SCE| 17.91616766467066|
+------+------------------+


Top 5 busiest routes:
+------+-----------+------------+
|origin|destination|flight_count|
+------+-----------+------------+
|   SFO|        LAX|        3232|
|   LAX|        SFO|        3198|
|   LAS|        LAX|        3016|
|   LAX|        LAS|        2964|
|   JFK|        LAX|        2720|
+------+-----------+------------+


Monthly flight trends:
+-----+-------------+------------------+
|month|total_flights|         avg_delay|
+-----+-------------+------------------+
|   00|        30649|11.788965382231067|
|   01|        25780|11.812063615205586|
|   02|        22895|13.687311640096091|
|   03|        25564|13.048623063683305|
|   04|        21493|13.328013771925743|
|   05|        23497|13.285057666936204|
|   10|        26978| 13.16543109200089|
|   11|        23701|12.136070208008102|
|   12|        20706|11.687192118226601|
|   13|        19877|11.790461337223928|
|   14|        19595|12.156723653993366|
|   15|        22111|12.806883451675636|
|   20|        21945| 11.77717019822283|
|   21|        18080|11.789546460176991|
|   22|        15428|  13.0869198859217|
|   23|        17676|11.292939579090293|
|   24|        15752|11.935627221940072|
|   25|        16961|11.581451565355817|
|   30|        18012|11.682378414390406|
|   31|        17022|12.303900834214545|
+-----+-------------+------------------+
only showing top 20 rows


Top 10 origins by percentage of delayed flights:
+------+-------------+---------------+------------------+
|origin|total_flights|delayed_flights|delayed_percentage|
+------+-------------+---------------+------------------+
|   DAL|        11272|           7153| 63.45812633073101|
|   MDW|        20056|          12671| 63.17810131631432|
|   HOU|        14740|           8639| 58.60922659430122|
|   DEN|        53148|          30760| 57.87611951531572|
|   BWI|        21558|          12448| 57.74190555710177|
|   OAK|        10026|           5423| 54.08936764412527|
|   LSE|          154|             83| 53.89610389610390|
|   ORD|        64228|          33812| 52.64370679454444|
|   ISP|         1370|            720| 52.55474452554745|
|   STL|        12142|           6250| 51.47422170976775|
+------+-------------+---------------+------------------+


Average delay by hour of day:
+----+------------------+
|hour|         avg_delay|
+----+------------------+
|NULL|12.079802928761449|
+----+------------------+

In [43]:
# Stop the SparkSession
spark.stop()